.chart {
	width: 90%;
	min-width:500px;
	margin-bottom: 40px;
/* 	height: 600px; */
}

g.axis path, g.axis line {
    fill:none; 
    stroke:#DDD;
}
g.axis text, g.bubbles text {
    fill:#DDD;
    font-family:sans-serif;
}

g.bubbles line {
    stroke-width:1; 
    stroke:#DDD;
}

g.bubbles circle {
   /*
 fill:rgba(255,0,64,0.5); 
    stroke:rgb(255,0,64);
*/
    stroke-width:0;
    fill-opacity:1;
}
g.bubbles text {
	padding-top:20px;
    text-anchor:middle;
    alignment-baseline:middle;
    opacity:0;
    pointer-events:all;
    transition:1s;
    fill:black;
}

g.bubbles text {
	padding-top:20px;
    text-anchor:middle;
    alignment-baseline:middle;
    opacity:0;
    pointer-events:all;
    transition:1s;
    fill:black;
}

g.bubbles text:hover {
    opacity:1;
}

g.bubbles circle {
    opacity:1;
}


g.threads line {
    fill:none;
    stroke:navy;
    opacity:0.5;
}

.ui-autocomplete a{
	font-size:12px;
}

#userInput1{
	width: 400px;
	
}

svg{
	font-family: Arial, sans-serif;
	font-size: 12px;
	fill: #aaaaaa;
}

#copyright{
	font-family: Arial, sans-serif;
	font-size: 10px;
	color: #AAA;
}

#instructions{
	font-family: Arial, sans-serif;
	font-size: 10px;
	margin: 20px;
	
}

#note{
	font-family: Arial, sans-serif;
	font-size: 10px;
	color: #AAA;
}



