.chart {
	width: 90%;
	min-width:500px;
	margin-bottom: 10px;
/* 	height: 600px; */
}

g.axis path, g.axis line {
    fill:none; 
    stroke:#DDD;
}
g.axis text, g.bubbles text {
    fill:#DDD;
    font-family:sans-serif;
}

g.bubbles line {
    stroke-width:1; 
    stroke:#DDD;
}

g.bubbles circle {
   /*
 fill:rgba(255,0,64,0.5); 
    stroke:rgb(255,0,64);
*/
    stroke-width:0;
    fill-opacity:1;
}
g.bubbles text {
	padding-top:20px;
    text-anchor:middle;
    alignment-baseline:middle;
    opacity:0;
    pointer-events:all;
    transition:1s;
    fill:black;
}

g.bubbles text {
	padding-top:20px;
    text-anchor:middle;
    alignment-baseline:middle;
    opacity:0;
    pointer-events:all;
    transition:1s;
    fill:black;
}

g.bubbles text:hover {
    opacity:1;
}

g.bubbles circle {
    opacity:1;
}


g.threads line {
    fill:none;
    stroke:navy;
    opacity:0.5;
}

.ui-autocomplete a{
	font-size:12px;
}

#userInput1{
	width: 400px;
	margin-top: 12px;
	margin-left: 5px;
}

#submit{
	margin-top: 12px;
}

svg{
	font-family: Arial, sans-serif;
	font-size: 12px;
	fill: #aaaaaa;
}

#user{
	break: left;
	display: block;
}

#copyright{
	font-family: Arial, sans-serif;
	font-size: 10px;
	color: #AAA;
	margin-top:40px;
}

#search{
	/* width: 600px; */
	height:100px;
	margin-top:70px;
}

#input{
	float: left;
}

#userInput1{
	float: left;
	margin-left: 10px;	
}

#submit{
	float: left;
	margin-left: 10px;
	vertical-align: top;
}

#explanation{
	font-family: Arial, sans-serif;
	font-size: 10px;
	clear: both;
	float: left;
	color: #AAA;
	margin-left: 55px;
	
}

#note{
	font-family: Arial, sans-serif;
	font-size: 10px;
	color: #AAA;
	margin-left: 20px;
}

#text{
	font-family: monospace;
	font-size: 11px;
	background-color: #F6F6F6;
	border: 1px solid #999;
	padding: 20px;
	margin-bottom:50px;
}

#logo{
	margin:20px;
}

.highlight{
	background-color: yellow;
}

#sitelogo{
	height: 40px;
	vertical-align: top;
	float: left;
}

.navbar-right li{
	margin-top: 15px;
	margin-left: 10px;
	vertical-align: bottom;
}

#clickhelp, #text{
	display: none;
}

#about{
	margin-top: 100px;
	
}